<section class="header">
    <div class="container header_container">
        <div class="header_wrapper">
            <h1 class="header_main_title">Your Collection Deserves the Best Marketplace</h1>
            <p class="heading_p">Buy, Sell, and Showcase Your Favorite Trading Cards Today!</p>
            <button class="header_btn">Shop Now</button>
        </div>
        <div class="card charizard"></div>
    </div>
</section>