<div class="brands">
    <div class="container brands_container">
        <img src="./images/expansiones/sv01-all-expansions.png" alt="" class="brand_logo">
        <img src="./images/expansiones/sv02-all-expansions.png" alt="" class="brand_logo">
        <img src="./images/expansiones/sv03-all-expansions.png" alt="" class="brand_logo">
        <img src="./images/expansiones/sv06pt5-all-expansions.png" alt="" class="brand_logo"
            style="width: 15%; height: auto;">
        <img src="./images/expansiones/sv05-all-expansions.png" alt="" class="brand_logo">
        <img src="./images/expansiones/sv06-all-expansions.png" alt="" class="brand_logo"
            style="width: 15%; height: auto;">
        <img src="./images/expansiones/sv07-all-expansions.png" alt="" class="brand_logo">
        <img src="./images/expansiones/sv03pt5-all-expansions.png" alt="" class="brand_logo"
            style="width: 10%; height: auto;">
        <img src="./images/expansiones/sv01-all-expansions.png" alt="" class="brand_logo">
        <img src="./images/expansiones/sv02-all-expansions.png" alt="" class="brand_logo">
        <img src="./images/expansiones/sv03-all-expansions.png" alt="" class="brand_logo">
        <img src="./images/expansiones/sv06pt5-all-expansions.png" alt="" class="brand_logo"
            style="width: 15%; height: auto;">
        <img src="./images/expansiones/sv05-all-expansions.png" alt="" class="brand_logo">
        <img src="./images/expansiones/sv06-all-expansions.png" alt="" class="brand_logo"
            style="width: 15%; height: auto;">
        <img src="./images/expansiones/sv07-all-expansions.png" alt="" class="brand_logo">
        <img src="./images/expansiones/sv03pt5-all-expansions.png" alt="" class="brand_logo"
            style="width: 10%; height: auto;">
    </div>
</div>
