<section class="section">
    <div class="container gallery_container">
        <div class="section_header_center">
            <h1 class="section_header_title">Browse by Category</h1>
        </div>
        <div class="gallery">
            <div class="grid_item grid_item_img_1">
                <img src="./images/grids/PokemonTCGScarletVioletSurgingSparks3packblisterzapdosmain.png"
                    alt="Categoria 1" class="grid_item_img" />
                <div class="category_name">Pack Blister</div>
            </div>
            <div class="grid_item grid_item_img_2">
                <img src="./images/grids/pngegg (8).png" alt="Categoria 2" class="grid_item_img" />
                <div class="category_name">Sealed Products</div>
            </div>
            <div class="grid_item grid_item_img_3">
                <img src="./images/grids/paldean-fates-etb_16f1a746-23dd-450d-a86e-31c845d5fbb7.webp"
                    alt="Categoria 3" class="grid_item_img" />
                <div class="category_name">Box Sets</div>
            </div>
            <div class="grid_item grid_item_img_4">
                <img src="./images/grids/Imagen6.png" alt="Categoria 4" class="grid_item_img" />
                <div class="category_name">Individual Cards</div>
            </div>
        </div>
    </div>
</section>