<section class="section">
    <div class="container section_container">
        <div class="section_header_center">
            <h1 class="section_header_title">Top Sellings</h1>
        </div>
        <div class="products">
            <div class="product">
                <img src="./images/products/pokemon-sm11-unified-minds-pikachu-checklane-blister.png" alt=""
                    class="product_img">
                <h4 class="product_title">Sun & Moon - Checklane Blister</h4>
                <div class="product_ratings">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/half.png" alt="" class="star_half">
                </div>
                <h3 class="prduct_price">$19.99</h3>
            </div>
            <div class="product">
                <img src="./images/products//pokemon-scarlet-and-violet-collectors-kit_4882a05c-62ab-476b-a3c9-46e2670f728c.png"
                    alt="" class="product_img">
                <h4 class="product_title"> Scarlet & Violet - Collector's Kit</h4>
                <div class="product_ratings">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/half.png" alt="" class="star_half">
                </div>
                <h3 class="prduct_price">$4.99</h3>
            </div>
            <div class="product">
                <img src="./images/products/Imagen1.png" alt="" class="product_img">
                <h4 class="product_title">Poke Ball Tin - Moon Ball</h4>
                <div class="product_ratings">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/half.png" alt="" class="star_half">
                </div>
                <h3 class="prduct_price">$14.90</h3>
            </div>
            <div class="product">
                <img src="./images/products/SV01_EN_32.png" alt="" class="product_img">
                <h4 class="product_title">Scarlet & Violet - Arcanine ex </h4>
                <div class="product_ratings">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/half.png" alt="" class="star_half">
                </div>
                <h3 class="prduct_price">$1.13</h3>
            </div>
        </div>
        <div class="section_btn">
            <button class="view_all_btn">View All</button>
        </div>
    </div>
</section>