<!DOCTYPE html>
<html>

<head>
    <title>Crear Producto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #000;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="container">
        <header class="text-center my-4">
            <h1>Product Create</h1>
        </header>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <form method="POST" action="/products/create" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name" class="form-label">name</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="mb-3">
                                <label for="rarity" class="form-label">rarity</label>
                                <input type="text" class="form-control" id="rarity" name="rarity" required>
                            </div>
                            <div class="mb-3">
                                <label for="attack" class="form-label">attack</label>
                                <input type="number" class="form-control" id="attack" name="attack">
                            </div>
                            <div class="mb-3">
                                <label for="defense" class="form-label">defense</label>
                                <input type="number" class="form-control" id="defense" name="defense">
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">image</label> <input type="file"
                                    class="form-control" id="image" name="image">
                            </div>
                            <div class="mb-3">
                                <label for="yearReleased" class="form-label">yearReleased</label>
                                <input type="number" class="form-control" id="yearReleased" name="yearReleased">
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">price</label>
                                <input type="number" class="form-control" id="price" name="price" required>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="isNew" name="isNew">
                                    <label class="form-check-label" for="isNew">isNew</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="isTopCard" name="isTopCard">
                                    <label class="form-check-label" for="isTopCard">isTopCard</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">description</label>
                                <textarea class="form-control" id="description" name="description" required></textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Add</button>
                                <a href="/products/admin" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>