<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/cart.css' />
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <div class="cart-header">
        <h1>Carrito</h1>
    </div>
    <div class="cart-container">
        <div class="cart-items">
            <p style="padding:2rem;">No tienes productos en el carrito.</p>
        </div>
    </div>
</body>

</html>