<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />

  </head>
  <body>
    <%- include('./partials/header') %>
    <div class="login-box">
        <div class="login-header">
            <header>Create new account</header>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Name" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Surname" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Email" autocomplete="off" required>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" autocomplete="off" required>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Create Account</label>
        </div>
        <div class="sign-up-link">  
            <p>Already have an account?<a href="login">Log In</a></p>
        </div>
    </div>
  </body>

  <script src="/javascripts/script.js"></script>
</html>