<link rel='stylesheet' href='/stylesheets/style.css'/>

<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>Epic Card Discounts</h4>
        <h2>Buy 1 Get 1 Free</h2>
        <p>Catch These Crazy Deals Before They're Gone!</p>
        <button class="white">Shop Now</button>
    </div>
    <div class="banner-box banner-box2">
        <h4>Scarlet & Violet - Prismatic Evolutions</h4>
        <h2>New Pokémon Cards</h2>
        <p>Discover the Latest Cards and Expand Your Collection!</p>
        <button class="white">View More</button>
    </div>
</section>

<section id="banner3">
    <div class="banner-box">
        <h2>Box Sets</h2>
        <h3>Complete Collections for Every Trainer</h3>
    </div>
    <div class="banner-box banner-box3">
        <h2>Pack Blister</h2>
        <h3>Exciting Multi-Packs with Bonus Cards</h3>
    </div>
    <div class="banner-box banner-box4">
        <h2>Individual Cards</h2>
        <h3>Find the Perfect Card to Complete Your Deck</h3>
    </div>

</section>