<!-- footer -->
<footer>
    <div class="footer-cont">
        <div class="footer-div">
            <div class="footer-logo">
                <p class="logo"><a href="#">TCG.hub</a></p>
                <p>We have the cards that match your collection. From players to collectors.</p>
                <div class="soc-media">
                    <div class="circle">
                        <i class="bi bi-twitter"></i>
                    </div>
                    <div class="fb">
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="circle">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="circle">
                        <i class="bi bi-github"></i>
                    </div>

                </div>
            </div>
            <div class="footer-nav">
                <h6>COMPANY</h6>
                <nav class="nav footer-nav-ul">
                    <ul class="footer-nav-ul">
                        <a href="#">
                            <li class="footer-nav-li">About</li>
                        </a>
                        <a href="#">
                            <li class="footer-nav-li">Features</li>
                        </a>
                        <a href="#">
                            <li class="footer-nav-li">Works</li>
                        </a>
                        <a href="#">
                            <li class="footer-nav-li">Career</li>
                        </a>
                    </ul>
                </nav>


            </div>
            <div class="footer-nav">
                <h6>HELP</h6>
                <nav class="nav footer-nav-ul">
                    <ul class="footer-nav-ul">
                        <a href="#">
                            <li class="footer-nav-li">Customer Support</li>
                        </a>
                        <a href="#">
                            <li class="footer-nav-li">Delivery Details</li>
                        </a>
                        <a href="#">
                            <li class="footer-nav-li">Terms & Conditions</li>
                        </a>
                        <a href="#">
                            <li class="footer-nav-li">Privacy Policy</li>
                        </a>
                    </ul>
                </nav>


            </div>
            <div class="footer-nav">
                <h6>FAQ</h6>
                <nav class="nav footer-nav-ul">
                    <ul class="footer-nav-ul">
                        <a href="#">
                            <li class="footer-nav-li">Account</li>
                        </a>
                        <a href="#">
                            <li class="footer-nav-li">Manage Deliveries</li>
                        </a>
                        <a href="#">
                            <li class="footer-nav-li">Orders</li>
                        </a>
                        <a href="#">
                            <li class="footer-nav-li">Payments</li>
                        </a>
                    </ul>
                </nav>
            </div>
            <!-- <div class="footer-nav">
    <h6>RESOURSES</h6>
    <nav class="nav footer-nav-ul">
      <ul class="footer-nav-ul">
        <a href="#"><li class="footer-nav-li">Free eBooks</li></a>
        <a href="#"><li class="footer-nav-li">Development Tutorial</li></a>
        <a href="#"><li class="footer-nav-li">How to - Blog</li></a>
        <a href="#"><li class="footer-nav-li">Youtube Playlist</li></a>
      </ul>
    </nav> -->


        </div>
    </div>
    <div class="line">

    </div>
    <div class="end-div">
        <p>TCG.HUB 2025</p>
        <p>
            <a href="https://github.com/unDEVtaker" target="_blank">
                <i class="ri-github-fill"></i> unDEVtaker
            </a>
        </p>
    </div>

    </div>

</footer>