<link rel='stylesheet' href='/stylesheets/style.css'/>


<footer id="footer" class="section-p1">
    <div class="col">
        <img class="logo" src="images/institucional/logo.png">
        <p>We have the cards that match your collection. </p>
            <p>From players to collectors.</p>
        <h4>Follow Us</h4>
        <div class="follow">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-pinterest"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
    <div class="col">
        <h4>Company</h4>
        <a href="#">About us</a>
        <a href="#">Features</a>
        <a href="#">Works</a>
        <a href="#">Terms $ Conditions</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="col">
        <h4>Help</h4>
        <a href="#">Customer Support</a>
        <a href="#">Delivery Details</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy Policy</a>
    </div>
    <div class="col">
        <h4>FAQ</h4>
        <a href="#">Account</a>
        <a href="#">Manage Deliveries</a>
        <a href="#">Orders</a>
        <a href="#">Payments</a>
    </div>
    <div class="col install">
        <p>Secured Payment Gateways </p>
        <img src="images/pay/pay.png" alt="">
    </div>
    <div class="copyright">
        <p>
            <i class="ri-github-fill" style="font-size: 1.5em;"></i>
            <a href="https://github.com/unDEVtaker" target="_blank">unDEV</a>
        </p>
    </div>
    </div>
</footer>