<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= locals.title ? title : "TCG.HUB" %>
    </title>

    <link href="images/head/faviconTCG.svg" rel="icon">
    <meta name="description"
        content="Tasa tus cartas Pokémon TCG al instante, sigue las tendencias de precios y compra/vende en nuestra tienda online especializada. ¡Valora y gestiona tu colección hoy!">
    <meta name="keywords"
        content="pokemon tcg, cartas pokemon, tasar cartas pokemon, valor cartas pokemon, precios cartas pokemon, tendencias pokemon tcg, ecommerce cartas pokemon, comprar cartas pokemon, vender cartas pokemon, coleccionismo pokemon, tasador pokemon, calculadora valor cartas pokemon">

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Antonio:wght@100..700&display=swap"
        rel="stylesheet">
 <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>