<header>
    <div class="top_nav">
        <div class="container top_nav_contianer">
            <p class="top_nav_text">Sign up and get 20% of your first order. <a href="#" class="top_nav_link">Sign
                    Up</a></p>
        </div>
    </div>
    <nav class="nav">
        <div class="container nav_container">
            <a href="#" class="nav_logo">TCG.HUB</a>
            <ul class="nav_list">
                <li class="nav_item"><a href="#" class="nav_link">Shop</a></li>
                <li class="nav_item"><a href="#" class="nav_link">OnSale</a></li>
                <li class="nav_item"><a href="#" class="nav_link">New Arrivals</a></li>
                <li class="nav_item"><a href="#" class="nav_link">Sets</a></li>
            </ul>



            <div class="search">
                <a href="#"><i class="ri-search-line" class="search_icon"></i></a>
                <input type="text" class="search_input" placeholder="Search.......">
            </div>

            <div class="nav-right">
                <a href="#"><i class="ri-shopping-cart-line"></i></a>
                <a href="#"><i class="ri-user-line"></i></a>
                <div class="bx bx-menu" id="menu-icon"></div>
            </div>
        </div>
    </nav>
</header>