<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/card.css' />


<section id="hero">
    <h4>Surging Sparks</h4>
    <h1>Your Collection Deserves<br> the Best Marketplace</h1>
    <p>Buy, Sell, and Showcase Your Favorite Trading Cards Today!</p>
    <button>Shop Now</button>
    <div class="card charizard"></div>
</section>