<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/card.css' />


<section id="hero">
    <h4>Surging Sparks</h4>
    <h1>Tu coleccion se merece<br> el mejor ecommerce</h1>
    <p>Compra, Vende tus Cartas Favoritas!</p>
    <button>Compra Ahora</button>
    <div class="card charizard"></div>
</section>