<section class="section">
    <div class="container section_container highlight-container">
        <div class="section_header_center">
            <h1 class="section_header_title">New Arrivals</h1>
        </div>
        <div class="products">
            <div class="product">
                <img src="./images/products/producto1.png" alt="" class="product_img">
                <h4 class="product_title">Shiny Silvally GX Box - Box Sets</h4>
                <div class="product_ratings">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/half.png" alt="" class="star_half">
                </div>
                <h3 class="product_price">$99.99</h3>
            </div>
            <div class="product">
                <img src="./images/products/producto2.png" alt="" class="product_img">
                <h4 class="product_title">Togekiss EX (BKP 83) - Card</h4>
                <div class="product_ratings">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/half.png" alt="" class="star_half">
                </div>
                <h3 class="product_price">$5.95</h3>
            </div>
            <div class="product">
                <img src="./images/products/producto3.png" alt="" class="product_img">
                <h4 class="product_title">Plasma Blast Booster - Pack</h4>
                <div class="product_ratings">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/half.png" alt="" class="star_half">
                </div>
                <h3 class="product_price">$110.05</h3>
            </div>
            <div class="product">
                <img src="./images/products/cartaPikachi.png" alt="" class="product_img">
                <h4 class="product_title">Surging Sparks - Pikachu ex</h4>
                <div class="product_ratings">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/half.png" alt="" class="star_half">
                </div>
                <h3 class="product_price">$450</h3>
            </div>
            <div class="product">
                <img src="./images/products/SV6pt5_ES_75.png" alt="" class="product_img">
                <h4 class="product_title">Zorua (SFA 075) Sombría</h4>
                <div class="product_ratings">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/full.png" alt="" class="star_full">
                    <img src="./images/stars/half.png" alt="" class="star_half">
                </div>
                <h3 class="product_price">$7.70</h3>
            </div>
        </div>
        <div class="section_btn">
            <button class="view_all_btn">View All</button>
        </div>
    </div>
</section>