<link rel='stylesheet' href='/stylesheets/style.css' />

<section id="products" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Fresh Picks Just for You</p>
    <div class="pro-container">
        <div class="pro-item">
            <img src="images/products/producto1.png" alt="">
            <div class="des">
                <span>Box Sets</span>
                <h5>Shiny Silvally GX Box - Box Sets</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$99.99</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/products/producto2.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Togekiss EX (BKP 83) - Card</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$5.95</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/products/producto3.png" alt="">
            <div class="des">
                <span>Blister</span>
                <h5>Plasma Blast Booster - Pack</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$110.05</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/products/cartaPikachi.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Surging Sparks - Pikachu ex - Card</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$450</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/products/producto5.webp" alt="">
            <div class="des">
                <span>Blister</span>
                <h5>Sun & Moon - Checklane Blister</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$19.99</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/products/Imagen1.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Poke Ball Tin - Moon Ball </h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$14.95</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/products/SV3pt5_ES_199.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Charizard ex (MEW 199)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$159.99</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/products/paldean-fates-etb_16f1a746-23dd-450d-a86e-31c845d5fbb7.webp" alt="">
            <div class="des">
                <span>Box Sets</span>
                <h5>Paldean Fates Pokémon Center Elite Trainer Box</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/products/paldean-fates-etb_16f1a746-23dd-450d-a86e-31c845d5fbb7.webp" alt="">
            <div class="des">
                <span>Box Sets</span>
                <h5>Paldean Fates Pokémon Center Elite Trainer Box</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/products/paldean-fates-etb_16f1a746-23dd-450d-a86e-31c845d5fbb7.webp" alt="">
            <div class="des">
                <span>Box Sets</span>
                <h5>Paldean Fates Pokémon Center Elite Trainer Box</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/products/paldean-fates-etb_16f1a746-23dd-450d-a86e-31c845d5fbb7.webp" alt="">
            <div class="des">
                <span>Box Sets</span>
                <h5>Paldean Fates Pokémon Center Elite Trainer Box</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/products/paldean-fates-etb_16f1a746-23dd-450d-a86e-31c845d5fbb7.webp" alt="">
            <div class="des">
                <span>Box Sets</span>
                <h5>Paldean Fates Pokémon Center Elite Trainer Box</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$90.00</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart  cart"></i></a>
        </div>
    </div>


</section>