<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel='stylesheet' href='/stylesheets/newsLetter.css'/>


<section class="section">
    <div class="container news_container">
        <div class="news_title">
            <h1 class="news_title_h">Be the First to Know About Exclusive Deals!</h1>
        </div>
        <div class="news_form">
            <div class="news_input">
                <i class="ri-mail-line news_input_icon"></i>
                <input type="text" placeholder="Enter your email address.">
            </div>
            <button class="news_btn">Subscribe to Newsletter</button>
        </div>
    </div>
</section>