<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel='stylesheet' href='/stylesheets/mazoTcg.css'/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


<section id="products" class="section-p1">
    <h2>Top Pokémon Cards</h2>
    <p>The Hottest Cards This Week</p>

    <!-- mazos tcg -->

    <div class="swiper-container">
        <!-- 1er mazo -->
        <div class="swiper swiper2">
            <h2>Charizard EX</h2>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h2>Charizard ex (OBF 215)</h2>
                    <h3>$8.99</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Charizard ex (OBF 223)</h2>
                    <h3>$35.00</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Charizard ex (MEW 006)</h2>
                    <h3>$25.90</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Charizard ex (OBF 125)s</h2>
                    <h3>$2.25</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Charizard ex (MEW 199)</h2>
                    <h3>$197.00</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Charizard ex (MEW 183)</h2>
                    <h3>$42.98</h3>
                </div>
            </div>
        </div>
        <!-- 2do mazo -->
        <div class="swiper swiper1">
            <h2>Eeveevolution</h2>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h2>Leafeon ex (sv8a 003)</h2>
                    <h3>$1.05</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Flareon ex (sv8a 022)</h2>
                    <h3>$0.44</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Vaporeon ex (sv8a 031)</h3>
                        <h3>$2.50</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Glaceon ex (sv8a 041)</h2>
                    <h3>$0.65</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Eevee ex <br> (PRE 075)</h2>
                    <h3>$4.50</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Espeon ex <br>(sv8a 063)</h2>
                    <h3>$0.90</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Umbreon ex (sv8a 093)</h2>
                    <h3>$2.00</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Umbreon ex (sv8a 093)</h2>
                    <h3>$2.00</h3>
                </div>
            </div>
        </div>


        <!-- 3er mazo -->
        <div class="swiper swiper3">
            <h2>Tera EX</h2>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h2>Froslass ex (PAR 003)</h2>
                    <h3>$0.10</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Garchomp ex (PAR 038)</h2>
                    <h3>$0.80</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Tsareena ex (PAR 046)</h2>
                    <h3>$0.46</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Mewtwo ex (PAR 058)</h2>
                    <h3>$1.00</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Hoopa ex (PAR 098)</h2>
                    <h3>$0.35</h3>
                </div>
                <div class="swiper-slide">
                    <h2>Toxtricity ex (PAR 100)</h2>
                    <h3>$0.25</h3>
                </div>

            </div>
        </div>
    </div>



    <!-- cartas top -->
    <div class="pro-container">
        <div class="pro-item">
            <img src="images/cartas/cartaPikachi.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Pikachu ex (SSP 238)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$250.00</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/cartas/SV3pt5_ES_151.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Mew ex (MEW 151)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$5.49</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/cartas/SV01_EN_45.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Gyarados ex (SVI 045)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$0.25</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/cartas/SV08_EN_86.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Sylveon ex (SSP 086)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$1.00</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/cartas/SV3pt5_EN_196.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Erika (MEW 196)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$88</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/cartas/SV08_EN_203.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Latios (SSP 203)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$20</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/cartas/SV03_ES_125.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Charizard ex (OBF 125)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$81.99</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/cartas/SV03_ES_223.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Charizard ex (OBF 223)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$88</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/cartas/SV03_ES_223.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Charizard ex (OBF 223)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$88</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/cartas/SV03_ES_223.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Charizard ex (OBF 223)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$88</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/cartas/SV03_ES_223.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Charizard ex (OBF 223)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$88</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro-item">
            <img src="images/cartas/SV03_ES_223.png" alt="">
            <div class="des">
                <span>Card</span>
                <h5>Charizard ex (OBF 223)</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>$88</h4>
            </div>
            <a href="#"><i class="fa-solid fa-shopping-cart cart"></i></a>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>